<html
        xmlns:th="http://thymeleaf.org" lang="en"

>
<head>
    <title>Admin Dashboard</title>
    <link href="css/signin.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon-16x16.png" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="my-image-holder">
        <a class="navbar-brand fw-bold" th:href="@{/}"><img th:src="@{/assets/img/logo-black-GURARIDE.png}" alt="Gura Ride Logo" width="120" height="60"></a>
    </div>

</main>
<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; ITH 2023. All Rights Reserved.</div>
            <a href="#!">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">Terms</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">FAQ</a>
        </div>
    </div>
</footer>
</body>
</html>