<html
        xmlns:th="http://thymeleaf.org" lang="en"

>
<head>
    <title>Register - Bike</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon-16x16.png" />
    <link href="/css/signin.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="my-image-holder">
        <a class="navbar-brand fw-bold" th:href="@{/}"><img th:src="@{/assets/img/logo-black-GURARIDE.png}" alt="Gura Ride Logo" width="120" height="60"></a>
    </div>
    <div class="login-page">
        <div class="form" style="margin-bottom: 100px">
            <form class="login-form" method="post" th:action="@{/register-bike}" th:object="${bike}">
                <h1>Bike Registration Form</h1>
                <div th:if="${param.fail}" class="alert alert-success">
                    <i class="fa-light fa-triangle-exclamation"></i>
                    <i class="fa-solid fa-xmark"></i>
                    <span th:text="${param.fail}"></span>
                </div>
                <div id="form-label" class="form-label">
                    <label>Model </label>
                    <select
                            id="model"
                            th:field="*{model}"
                            required>
                        <option value="" disabled selected>Select Model</option>
                        <option value="Electrical">Electrical</option>
                        <option value="Mechanical">Mechanical</option>
                    </select>
                    <p th:if="${#fields.hasErrors('model')}" class="text-danger" th:errors="*{model}"></p>
                    <!--<div class="invalid-feedback"></div>-->
                </div>
                <div class="form-label">
                    <label>Brand </label>
                    <select
                            id="brand"
                            th:field="*{brand}"
                            required>
                        <option value="" disabled selected>Select Brand</option>
                        <option value="Guraride">Guraride</option>
                        <option value="Giant">Giant</option>
                        <option value="Trek">Trek</option>
                        <option value="BMC">BMC</option>
                        <option value="Bianchi">Bianchi</option>
                    </select>
                    <p th:if="${#fields.hasErrors('brand')}" class="text-danger" th:errors="*{brand}"></p>
                    <!--<div class="invalid-feedback"></div>-->
                </div>
                <div class="form-label">
                    <label>Status </label>
                    <select
                            id="status"
                            th:field="*{status}"
                            required>
                        <option value="" disabled selected>Select Status</option>
                        <option value="Available">Available</option>
                        <option value="Reserved">Reserved</option>
                        <option value="Rented">Rented</option>
                    </select>
                    <p th:if="${#fields.hasErrors('status')}" class="text-danger" th:errors="*{status}"></p>
                    <!--<div class="invalid-feedback"></div>-->
                </div>
                <div class="form-group">
                    <input
                            type="number"
                            class="form-control"
                            placeholder="Rent Price in RWF"
                            id="rentPrice"
                            title="Please enter rent price in RWF"
                            th:field="*{rentPrice}"
                            required>
                    <p th:if="${#fields.hasErrors('rentPrice')}" class="text-danger" th:errors="*{rentPrice}"></p>
                    <!--<div class="invalid-feedback"></div>-->
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <p class="message">Back To Dashboard <a th:href="@{/bike-info}"> Page Here...</a></p>
            </form>
        </div>
    </div>

</main>
<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; ITH 2023. All Rights Reserved.</div>
            <a href="#!">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">Terms</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">FAQ</a>
        </div>
    </div>
</footer>
</body>

</html>